header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff !important;
  width: 100%;
  h2 {
    color: #fff;
  }
}
.seatHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .backIcon {
  }
}
